<!DOCTYPE html>

<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js" ></script>
		<script type="text/javascript" src="main.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body x-ng-app="" x-ng-init="" x-ng-controller="allCTRL">
		<form x-ng-submit="makeBoard()">
			<input type="text" max-length="2" size="2"x-ng-model="xsquared" />
			<input type="submit" value="Let's do this!" />
		</form>
		<div id="main" x-ng-style="mainSize()">
			<div x-ng-repeat="row in board track by $index" x-ng-class="{clear:true}" x-ng-style="rowSize()">
				<div x-ng-repeat="cell in row track by $index" 
				x-ng-class="{gray:(board[$parent.$index][$index] == 'X'), yellow:(board[$parent.$index][$index] == 'O'), cell: true}"
				x-ng-click="ticClick($parent.$index,$index); checkWin($parent.$index,$index,board[$parent.$index][$index]);">
				{{cell}}
				</div>
			</div>
			X = {{xWins}}
			O ={{oWins}}
			{{winCounter}}
		</div>
	</body>
</html>
