<!DOCTYPE html>

<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js" ></script>
		<style>
			.cell {
				height: 50px;
				width: 50px;
				border: 1px solid black;
				margin: 5px;
				float: left;
				border-radius: 5px;
			}

			.clear {
				clear:left;
			}

			.yellow {
				background-color: yellow;
				border: 1px solid yellow;
			}

			.gray {
				background-color: gray;
				border: 1px solid gray;
			}
		</style>
	</head>

	<body x-ng-app="" x-ng-init="" x-ng-controller="allCTRL">
		<form x-ng-submit="makeBoard()">
			<input type="text" x-ng-model="xsquared" />
			<input type="submit" value="Let's do this!" />
		</form>
		<div id="main" >
			<div x-ng-repeat="c in board track by $index" 
			x-ng-class="{clear:$index%{{xsquared}} == 0, cell:true, yellow:board[$index] == 'X', gray:board[$index] == 'O'}"
			x-ng-click="ticClick($index); ">
			</div>
		</div>
		<span>{{board}}</span>
	</body>

	<script type="text/javascript">
		function allCTRL($scope) {
			$scope.board = [];
			$scope.xTurn = {val:true};
			gameover = false;

			$scope.makeBoard = function () {
				for (var i = 0; i < ($scope.xsquared * $scope.xsquared); i++) {
					$scope.board.push('');
				}
			}
			
			$scope.ticClick = function($index){
		 		$scope.board[$index] = ($scope.board[$index] == '' ? (($scope.xTurn.val = !$scope.xTurn.val) ? 'X' : 'O' ) : $scope.board[$index]);
		 		alert($index+(2*$scope.xsquared));
		 		if ($scope.board[$index] == 'X' && 
		 			$scope.board[$index+1] == 'X' && 
		 			$scope.board[$index+2] == 'X')
		 			alert('Xwins!');
		 		if ($scope.board[$index] == 'X' && 
		 			$scope.board[$index-1] == 'X' && 
		 			$scope.board[$index-2] == 'X')
		 			alert('Xwins!');
		 		if ($scope.board[$index] == 'X' && 
		 			$scope.board[$index-1] == 'X' && 
		 			$scope.board[$index+1] == 'X')
		 			alert('Xwins!');
		 		if ($scope.board[$index] == 'X' && 
		 			$scope.board[$index + $scope.xsquared] == 'X' && 
		 			$scope.board[$index + (2*$scope.xsquared)] == 'X')
		 			alert('Xwins!');
		 		if ($scope.board[$index] == 'X' && 
		 			$scope.board[$index - $scope.xsquared] == 'X' && 
		 			$scope.board[$index - (2*$scope.xsquared)] == 'X')
		 			alert('Xwins!');
		 		if ($scope.board[$index] == 'X' && 
		 			$scope.board[$index - $scope.xsquared] == 'X' && 
		 			$scope.board[$index + $scope.xsquared] == 'X')
		 			alert('Xwins!');
		 		if ($scope.board[$index] == 'X' && 
		 			$scope.board[$index + $scope.xsquared + 1] == 'X' && 
		 			$scope.board[$index + (2*($scope.xsquared)) +2] == 'X')
		 			alert('Xwins!');
		 		if ($scope.board[$index] == 'O' && 
		 			$scope.board[$index+1] == 'O' && 
		 			$scope.board[$index+2] == 'O')
		 			alert('Owins!');
		 		if ($scope.board[$index] == 'O' && 
		 			$scope.board[$index-1] == 'O' && 
		 			$scope.board[$index-2] == 'O')
		 			alert('Owins!');
		 		if ($scope.board[$index] == 'O' && 
		 			$scope.board[$index-1] == 'O' && 
		 			$scope.board[$index+1] == 'O')
		 			alert('Owins!');
		 		if ($scope.board[$index] == 'O' && 
		 			$scope.board[$index + $scope.xsquared] == 'O' && 
		 			$scope.board[$index + (2*$scope.xsquared)] == 'O')
		 			alert('Owins!');
		 		if ($scope.board[$index] == 'O' && 
		 			$scope.board[$index - $scope.xsquared] == 'O' && 
		 			$scope.board[$index - (2*$scope.xsquared)] == 'O')
		 			alert('Owins!');
		 		if ($scope.board[$index] == 'O' && 
		 			$scope.board[$index - $scope.xsquared] == 'O' && 
		 			$scope.board[$index + $scope.xsquared] == 'O')
		 			alert('Owins!');
	 		};
		}
	</script>
</html>
