body {
	width: 100%;
	text-align: center;
	background-color: #999999;
}

form {
	margin: 5px;
	padding: 0;
}

h1 {
	font-size: 100px;
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 20px;
	padding: 0;
	margin: 0;
}

.cell {
	height: 50px;
	width: 50px;
	margin: 5px;
	float: left;
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 45px;
	text-align: center;
	background-color: white;

}

.clear {
	clear:left;
}

.yellow {
	background-color: #FFCB00;
	color: gray;
}

.gray {
	background-color: gray;
	color: #FFCB00;
}

#main {
	margin: 100px auto;
}

#start {
	position: relative;
	border: none;
	height: 400px;
	width: 400px;
	margin: 100px auto;
	padding: 50px;
/*	background: #660BAB;*/
	color: #FFCB00;
	font-size: 100px;
	font-family: 'Roboto', cursive;
	font-weight: 100;
}





