body {
	width: 100%;
	text-align: center;
	background-color: #999999;
}

form {
	margin-top: 50px;
}

.cell {
	height: 50px;
	width: 50px;
	margin: 5px;
	float: left;
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 45px;
	text-align: center;
	background-color: white;

}

.clear {
	clear:left;
}

.yellow {
	background-color: yellow;
	color: gray;
}

.gray {
	background-color: gray;
	color: yellow;
}

#main {
	margin: 0 auto;
}

#start {
	position: relative;
	border: none;
	height: 200px;
	width: 200px;
	margin: 100px auto;
	padding: 100px;
	background: #660BAB;
}





